.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.todos{
  width: 80%;
  max-width: 800px;
  margin-inline: auto;
  border: 1px solid slategray;
  padding: 20px;
}

.todo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo span{
  font-size: 20px;
  cursor: pointer;
}